.navbar {
    background-color: transparent !important;
    position: fixed; 
    width: 100%; /* Set the width to 100% */
    z-index: 2; 
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    font-size: large
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: white !important;
  }

  .transparent-dropdown .dropdown-menu {
    background-color: rgba(46, 46, 82, 0.433);
  } 

  .transparent-dropdown .dropdown-item {
    color: white;
  }
  
  .transparent-dropdown .dropdown-item:hover {
    color: black;
  }

  .transparent-dropdown .dropdown-divider {
    border-color: white;
  }
  