/* Tambahkan CSS di file Anda atau dalam komponen Anda jika menggunakan CSS-in-JS */
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.gallery-item {
  position: relative;
  margin: 10px;
  overflow: hidden;
  background: transparent;
  box-shadow: 0 4px 8px rgb(0, 0, 255);
  padding: 20px;
}


.gallery-item::after{
  content: "";
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: rgb(159, 31, 31);
z-index: -1;
transition: 0.3s ease all;
transform: scale(0, 1);
transform-origin: left right;
transition: transform 400ms cubic-bezier(0.86, 0, 0.07, 1);
transition-timing-function: cubic-bezier (0.86, 0, 0.07, 1);
}

.gallery-item:hover::after{

  transform: scale(1, 1);
  transform-origin:
  top left;

}

.gallery-item:hover .gallery-overlay {
  opacity: 1;
}

.gallery-item .gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: transform 0.10s, opacity 0.5s;
}


.gallery-image {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(184, 26, 26, 0.666); */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: transform 0.10s, opacity 0.5s;
}

.gallery-item:hover .gallery-overlay {
  opacity: 1;
  /* background: rgba(184, 26, 26, 0.666);  */
}


.gallery-button {
  background: rgba(255, 255, 255, 0.2); /* Warna latar belakang tombol */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.gallery-button:hover {
  background: rgba(0, 246, 209, 0.623); /* Warna latar belakang tombol saat hover */
}
